<div class="flex flex-wrap my-5">
  <div class="md:w-3/4 w-full">
    <owl-carousel-o [options]="customOptions" class="max-h-[400px] min-h-[300px] md:min-h-[400px]">
      <ng-template carouselSlide>
        <img
          src="/assets/images/slider-image-1.jpeg"
          alt="slider"
          class="w-full object-cover ng-star-inserted"
          width="800"
          height="400"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/assets/images/slider-image-2.jpeg"
          alt="slider"
          class="w-full object-cover ng-star-inserted"
          width="800"
          height="400"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/assets/images/slider-image-3.jpeg"
          alt="slider"
          class="w-full object-cover ng-star-inserted"
          width="800"
          height="400"
        />
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="md:w-1/4 hidden md:flex flex-col">
    <img
      src="/assets/images/slider-image-1.jpeg"
      alt="slider"
      class="w-full object-cover"
      width="300"
      height="200"
    />
    <img
      src="/assets/images/slider-image-2.jpeg"
      alt="slider"
      class="w-full object-cover"
      width="300"
      height="200"
    />
  </div>
</div>
